# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# DockSuiteX specific
docksuitex/bin/
docksuitex/temp/
temp/
build_env/
build/
dist/
*.egg-info/
Test.ipynb

# MkDocs
site/

# IDE/Tools
.vscode/
.idea/
.pytest_cache/
.ipynb_checkpoints/
*.log

# Environments
venv/
.venv/
env/
.env/
